  <div class="btn-group pull-right">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-id="<%= @presenter.id %>">
      Actions <span class="caret"></span>
    </button>
    <ul class="show-tools dropdown-menu" role="menu">

      <li>
      </li>

      <li>
      </li>

      <% if can? :edit, @curation_concern %>
        <li role="menuitem" tabindex="-1">
          <%= link_to hyrax.edit_dashboard_collection_path(@presenter.id),
                      class: 'itemicon itemedit',
                      title: t("hyrax.dashboard.my.action.edit_collection")  do %>
            <%= t("hyrax.dashboard.my.action.edit_collection") %>
          <% end %>
        </li>
      <% end %>
      <% if can? :destroy, @curation_concern %>
        <li role="menuitem" tabindex="-1">
          <%= link_to "#",
                      class: 'itemicon itemtrash delete-collection-button',
                      title: t("hyrax.dashboard.my.action.delete_collection"),
                      data: { totalitems: @presenter.total_items ,
                              membership: @presenter.collection_type_is_require_membership? ,
                              hasaccess: (can?(:edit, @presenter.solr_document)),
                              confirm: "Deleting a collection from MIRA is permanent. Click OK to delete this collection from MIRA, or Cancel to cancel this operation" } do %>
            <%= t("hyrax.dashboard.my.action.delete_collection") %>
          <% end %>
        </li>
      <% end %>

      <% if can? :update_type, @curation_collection %>
        <li>
          <%= update_collection_type_link(@curation_collection) %>
        </li>
      <% end %>
    </ul>
  </div>

