<%
  sub_colls = get_collections(coll_type, coll_info[:id])
  sub_ul_id = "collapse-#{coll_info[:id]}"

  dropzone = (coll_type == 'personal' || current_user.admin?) ? ' tufts-dropzone' : ''
%>

<li class="dd-item" data-id="<%=coll_info[:id]%>">
  <% if (sub_colls.present?) %>
    <button
      type="button"
      data-toggle="collapse"
      data-target="#<%= sub_ul_id %>"
      aria-expanded="false"
      aria-controls="<%= sub_ul_id %>"
    ></button>
  <% end %>
  <div id="<%= coll_info[:id] %>" class="dd-handle<%= dropzone %>">
    <%= link_to(coll_info[:title], hyrax.collection_path(coll_info[:id])) %>
  </div>
  <% if (sub_colls.present?) %>
    <ul id="<%= sub_ul_id %>" class="collapse">
      <% sort_subcollections(sub_colls, coll_info[:id]).each do |c| %>
        <%= render partial: 'catalog/collection_navbar_item', locals: {coll_info: c, coll_type: coll_type} %>
      <% end %>
    </ul>
  <% end %>
</li>