<div id="collections-sidebar" class="panel-group col-md-7">
  <div id="course_collections" class="panel panel-default dd">
    <div class="panel-heading">
      <h5 class="panel-title"><%= t('homepage.collections_nav.course_collections') %></h5>
      <%= link_to('+', new_dashboard_collection_path(collection_type_id: course_id), class: "btn btn-primary") %>
    </div>
    <div class="panel panel-default dd">
      <ul class="panel-body dd-list">
        <% get_top_level_collections.each do |coll_info| %>
          <%= render partial: 'catalog/collection_navbar_item', locals: {coll_info: coll_info, coll_type: 'course'} %>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="personal_collections" class="panel panel-default dd">
    <div class="panel-heading">
      <h5 class="panel-title"><%= t('homepage.collections_nav.personal_collections') %></h5>
      <%= link_to('+', new_dashboard_collection_path(collection_type_id: personal_id), class: "btn btn-primary") %>
    </div>
    <div class="panel panel-default">
      <ul class="panel-body dd-list">
        <% get_top_level_collections('personal').each do |coll_info| %>
          <%= render partial: 'catalog/collection_navbar_item', locals: {coll_info: coll_info, coll_type: 'personal'} %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
