<div class="panel panel-default tabs" id="collection-edit-controls">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#description" role="tab" data-toggle="tab"><%= t('.tabs.description') %></a>
    </li>
    <% if @form.persisted? %>
      <% if @collection.brandable? %>
        <li>
          <a href="#branding" role="tab" data-toggle="tab"><%= t('.tabs.branding') %></a>
        </li>
      <% end %>
      <% if @collection.discoverable? %>
        <li>
          <a href="#discovery" role="tab" data-toggle="tab"><%= t('.tabs.discovery') %></a>
        </li>
      <% end %>
      <% if @collection.sharable? %>
        <li>
          <a href="#sharing" role="tab" data-toggle="tab"><%= t('.tabs.sharing') %></a>
        </li>
      <% end %>
    <% end %>
  </ul>


  <%= simple_form_for @form, url: [hyrax, :dashboard, @form], html: { class: 'editor' } do |f| %>
    <div class="tab-content">
      <div id="description" class="tab-pane active">
        <div class="panel panel-default labels">
          <div class="panel-body">

            <div id="base-terms">
              <% f.object.primary_terms.each do |term| %>
                <%= render_edit_field_partial(term, f: f) %>
              <% end %>

            </div>
            <%= hidden_field_tag :type, params[:type] %>
            <%= hidden_field_tag :collection_type_gid, @collection.collection_type_gid %>
            <!-- parent_id may be passed from the nested collections controller to allow a subcollection relationship to be added as collection is created -->
            <% if params[:parent_id].present? %>
              <%= hidden_field_tag :parent_id, params[:parent_id] %>
            <% end %>
          </div>
        </div>
      </div> <!-- end description -->

      <div class="panel-footer">
        <% if @collection.persisted? %>
          <%= f.submit t(:'hyrax.collection.select_form.update'), class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "update_submit", name: "update_collection" %>
          <%= link_to t(:'helpers.action.cancel'), hyrax.dashboard_collection_path(@collection), class: 'btn btn-link' %>
        <% else %>
          <%= f.submit t(:'hyrax.collection.select_form.create'), class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "create_submit", name: "create_collection" %>
          <%= link_to t(:'helpers.action.cancel'), hyrax.my_collections_path, class: 'btn btn-link' %>
        <% end %>
      </div>
    </div> <!-- end tab-content -->
  <% end # simple_form_for %>
</div>
